@media (min-width: 1600px) and (max-width: 1800px){
    .title-h1{
        font-size:42px;
    }
    .text-p{
        font-size:18px;
    }

    .title-h2{
        font-size:36px;
    }
    
}
@media (min-width: 1400px) and (max-width:1599px){
    .title-h1{
        font-size:40px;
    }
    .title-h2{
        font-size:32px;
    }
    .text-p{
        font-size:17px;
    }

}
@media (min-width: 1200px) and (max-width:1400px) {
    .title-h1{
        font-size:40px;
    }
    .title-h2{
        font-size:30px;
    }
    .text-p{
        font-size:16px;
    }
}
@media (min-width: 992px) and (max-width:1199px) {
    .title-h1{
        font-size:34px;
    }
    .title-h2{
        font-size:30px;
    }
    .text-p{
        font-size:14px;
    }
    
}
@media (min-width: 768px) and (max-width:991px) {
    .title-h1{
        font-size: 25px;
    }
    .title-h2{
        font-size:30px;
    }
    .text-p{
        font-size:11px;
    }
    
}



